= form_for @poll, url: polls_path(params[:id]), |
                  html: { class: "form-horizontal", |
                          method: :post, |
                          role: "form" } do |f|
  - if @poll.errors.any?
    .row
      .col-sm-8.alert.alert-dismissable.alert-danger#form_errors
        %button.close{type: "button", "data-dismiss" => "alert", "aria-hidden" => "true"}
          &times;
        %h3
          = pluralize(@poll.errors.count, "error")
          prohibited this poll from being saved:
        %ul
          - @poll.errors.full_messages.each do |msg|
            %li= msg

  = f.hidden_field :user_id, value: current_user.id

  .row
    .form-group
      = f.label :question, class: "col-sm-2 control-label"
      = f.text_area :question, rows: 3, |
                               class: "col-sm-4", |
                               placeholder: "Question", |
                               autofocus: true

  .row
    .form-group
      = f.label :vote_min, class: "col-sm-2 control-label"
      = f.text_field :vote_min, class: "col-sm-2"

  .row
    .form-group
      = f.label :vote_max, class: "col-sm-2 control-label"
      = f.text_field :vote_max, class: "col-sm-2"

  .row
    .form-group
      = f.label :start, class: "col-sm-2 control-label"
      = f.datetime_local_field :start, class: "col-sm-4"

  .row
    .form-group
      = f.label :finish, class: "col-sm-2 control-label"
      = f.datetime_local_field :finish, class: "col-sm-4"

  .row
    .form-group
      %button.btn.btn-primary.col-sm-offset-3{type: "submit"} Create
