%section
  .row
    .page-header.col-sm-12
      %h1= @poll.question
    %hr
  .row
    .col-sm-4
      %div{class: "panel #{@poll.start_date_panel_class}"}
        .panel-heading
          %h3.panel-title= "Poll start"
        .panel-body.text-center
          %strong= "#{@poll.pretty_start}"

    .col-sm-4
      %div{class: "panel #{@poll.finish_date_panel_class}"}
        .panel-heading
          %h3.panel-title= "Poll finish"
        .panel-body.text-center
          %strong= "#{@poll.pretty_finish}"

%section#chart
  .row
    .col-sm-10
      = render 'chart', poll: @poll

%section
  .row
    .col-sm-6
      = render 'votes/form', vote: Vote.new(poll_id: params[:id])

%div.hidden
  %span{id: "voted"} false
